body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color:#35A79C ;}
.certificate{
    padding: 50px;
    color: white;
    text-align: center;
}
.certificate h1{
    text-align: center;
    font-size: x-large;
    margin-bottom: 30px;
    font-weight: bold;
    color: #333;
}
.certificate-image img{
    width: 400px;
    margin: auto;
    display: inline;
    padding: 20px;
    padding-left: 100px;
}
.sign h1{
    text-align: right;
}
.back-button{
    margin-top: 30px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding-left: 50%;
}
.back-button a{
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    width: 150px;
    text-align: center;
    border-radius: 10px;
  }
  .back-button a:hover{
    background-color: red;
    transition: 0.5s ease-in-out;
  }
.downloard-button{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.downloard-button a{
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    width: 150px;
    text-align: center;
    border-radius: 10px;
  }
  .downloard-button a:hover{
    background-color: red;
    transition: 0.5s ease-in-out;
  }
@media (min-width:0px) and (max-width:1024px){
    .certificate{
        padding: 20px;
    }
   .certificate-image img{
    width: 100%;
    margin: 0;
    padding: 0;
    }
    .back-button{
        padding-left: 0;
    }
}