@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    color: black;
    background-color: #F5F5F5;
    overflow-x: hidden;
    transition: background-color 0.5s ease;
    position: sticky;
    top: 0;
    z-index: 1;
}
/*header*/
header {
  background-color: #2E4057;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: fit-content;
  margin-top: auto;
}
.logo h2{
  color: white;
}
.hamburger-icon {
  display: none;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2E4057;
  border-style: hidden;
  background: scroll;
  top: 0;
  width: 100%;
}

.menu li {
  float: left;
  padding: 10px;
}

.menu li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
  background-color: transparent;
  border-radius: 10px;
}

.menu a:hover {
  background-color:gray;
  color: black;
}
.closebtn{
  display: none;
}
@media (max-width: 768px) {
  .sidenav {
    font-family: sans-serif;
        text-transform: uppercase;
      height: 100%;
      /* 100% Full-height */
      width: 0;
      /* 0 width - change this with JavaScript */
      position: fixed;
      /* Stay in place */
      z-index: 10000;
      /* Stay on top */
      top: 0;
      right: 0;
      background-color: white;
      /* Black*/
      overflow-x: hidden;
      /* Disable horizontal scroll */
      padding-top: 60px;
      /* Place content 60px from the top */
      transition: 0.5s;
      /* 0.5 second transition effect to slide in the sidenav */
   
  }
  /* The navigation menu links */
  .sidenav a {
          margin: 20px 0 0px 0;
      text-decoration: none;
      font-size: 25px;
      color: black;
      display: block;
      transition: 0.3s;
      width: 227px;
  text-align: -webkit-center;
  transition: 0.5s ease-in-out;
  }
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover, .offcanvas a:focus {
      color: black;
  }
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: -13px;
    right: 32px;
    font-size: 38px;
    margin-left: 50px;
    width: initial;
    transition: 0.5s ease-in-out;
  }
  .menu ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: transparent;
      border-style: hidden;
      background: scroll;
      top: 0;
      width: 100%;
  }
  
  .menu li {
      float: left;
      padding: 10px;
  }
  
  .menu li a {
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      border: none;
      background-color: transparent;
      border-radius: 10px;
  }
  
  .menu a:hover {
      background-color: transparent;
      color: black;
      border: none;
      transition: 0.5s ease-in-out;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  .hamburger-icon {
        font-size: 32px;
        color: black;
        text-decoration: none;
        z-index: 1000;
        right: 29px;
        top: 9px;
        cursor: pointer;
        display: inherit;
      transition: 0.5s ease-in-out;
    }
}
/*home*/
section.home{
  display:flex;
  justify-content: center;
  align-items: center;
  min-width: none;
  height:110vh;
  background-image: url(photos/sai.jpg);
  background-size: cover;
  background-position: scroll;
  background-repeat: no-repeat;
}
.home .content h2{
  font-size: 72px;
  color: lightseagreen;
}
.home .content p{
  font-size: 24px;
  color: red;
  margin-top: 20px;
}
.home .content h2 span{
  font-size: 20px;
  color: red;
}
.about-button a{
  background-color: blueviolet;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  width: 150px;
  text-align: center;
  border-radius: 10px;
}
.about-button a:hover{
  background-color: red;
}
.social-icons{
  margin-top: 20px;
  list-style-type: none;
}
.social-icons li{
  display: inline-block;
  margin: 0 10px;
}
.social-icons a{
  display: inline-block;
  background-color: lightseagreen;
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.social-icons a.github:hover{
  background-color: #0e0e0e;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.instagram:hover {
  background-color: #ee00da;
}
/*about*/

section.about{
  background-color:#35A79C ;
}
.about-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 40px;
  padding: 20px;
  align-items: center;
  margin-top: 100px;
  padding: 20px;
  background-color:#35A79C ;
}
.about-content img{
  width: 300px;
  height: auto;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.about-content .paragraph{
  background-color: #2E4057;
  padding: 10px;
}
.about-content p{
  text-align: justify;
  color: white;
  padding-right: 50px;
  background-color: #007bb6;
  border-radius: 10px;
  padding: 10px;
}
.contact-box{
  background-color: #2E4057;
  padding: 10px;
  align-items: center;
  border-radius: 10px;
  margin-left: 0;
  margin-right: 0;
  
}
.contact-box h3{
  text-align: center;
}
.contact-box p{
  text-align: center;
  padding: 5px;
}
.contact-box p span{
  padding: 20px;
}
.resume-button{
  padding-left: 500px;
}
.resume-button a{
  background-color: blueviolet;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  width: 150px;
  text-align: center;
  border-radius: 10px;
}
.resume-button a:hover{
  background-color: red;
  transition: 0.5s ease-in-out;
}
@media (max-width: 768px) {
  .about-content{
    display: block;
    text-align: center;
    padding: 10px;
  }
  .about-content img{
    width: 100%;
  }
  .about-content .paragraph{
    padding: 10px;
  }
  .about-content p{
    padding: 10px;
  }
  .contact-box{
    padding: 10px;
    align-items: center;
    margin-top: 50px;
  }
  .contact-box h3{
    text-align: center;
  }
  .contact-box p{
    text-align: center;
    font-size: 10px;
  }
  .contact-box p span{
    padding: 20px;
  }
  .resume-button{
    padding-left: 0;
  }
  .resume-button a{
    width: 100%;
  }
}
/*skills*/

/*footer*/
.social{
  font-size: 40px;
  text-decoration: none;
  color: white;
}
.social a{
  color: white;
}
.social a:hover {
  color: #fff;
}
.social a.github:hover {
  color: #0e0e0e;
}
.social a.bx .bxl-telegram:hover {
  color: #007bb6;
}
.social a.linkedin:hover {
  color: #007bb6;
}
.social a.instagram:hover {
  color: #ee00da;
}
footer {
  background-color: #2E4057;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
}


/*scroll button*/
.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  background-color: #222;
  color: white;
  padding: 15px 20px;
  border-radius: 50%;
  transition: background-color 0.3s;
  text-decoration: none;
}

.scroll-button:hover {
  background-color: #2E4057;
}

.scroll-button i {
  font-size: 20px;
  color: white;
}